@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 70%;
    margin: 30px auto;
}

.title{
    font-weight: 900;
    color: #e53170;
    font-size: 25px;
    margin-bottom: 45px;
}

.heading{
    text-align: center;
    margin-bottom: 45px;
}

img{
    float: left;
    height: 100px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.box{
    display: inline-block;
    width: calc(93.6% / 3);
    background-color: #0f0e17;
    box-shadow: 0px 0px 3px 1px #0f0e17;
    margin: 10px;
}

.name{
    text-transform: uppercase;
}

.text-block{
    color: white;
    padding: 12px;
    line-height: 24px;
    float: left;
}

a{
    color: #00baf3;
    text-decoration: none;
    font-size: 14px;
}

.role{
    font-size: 14px;
}
